<%= simple_nested_form_for [:admin, @job_offer] do |f| %>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render partial: 'lbb_cms_job_offers/admin/shared/localized_fields',
                 locals: {fields: {name: {type: :string},
                                   description: {type: :text}},
                 object: f.object, f: f} %>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <%= f.seasons_for @job_offer %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>

<% end %>
