<!DOCTYPE html>
<html>
<head>
  <title>WilsonCmsJobOffers</title>
  <%= stylesheet_link_tag    "wilson_cms_job_offers/application", media: "all" %>
  <%= javascript_include_tag "wilson_cms_job_offers/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
