<%= link_to t('.new'), new_admin_job_offer_path %>
<% if @job_offers && @job_offers.empty? %>

  <p><%= t('.no_job_offer') %></p>

<% else %>

  <table class="table table-condensed">
    <th>
      <td>
        <%= t '.listing.name' %>
      </td>
    </th>
    <%= render partial: 'job_offer', collection: @job_offers %>
  </table>

<% end %>
